name: CI

on:
  workflow_dispatch:
  release:
  push:
  pull_request:
    branches: [master]

env:
  ELECTRON_VERSION: 33.2.1 # the specific Electron version
  NODE_VERSION: 20.18.0 # The corresponding node version that electron uses

jobs:
  ci:
    if: startsWith(github.ref, 'refs/tags/v')
    strategy:
      matrix:
        include:
          - os: macos-13
            arch: x64
          - os: macos-13 # note that this runner is not really arm64
            arch: arm64
          - os: windows-latest
            arch: x64
          - os: windows-11-arm
            arch: arm64
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }} (${{matrix.arch}})
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Install Python Distutils for mac
        if: matrix.os == 'macos-13'
        run: |
          python3 -m pip install setuptools

      - name: Install Packages
        run: npm i --ignore-scripts

      - name: Patch Nan
        run: npm run postinstall
        shell: bash

      - name: Build & Publish Prebuilds
        run: npm run build:ci -- --msvs_version=2022
        env:
          ARCH: ${{ matrix.arch }}
          GITHUB_ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
